#wrapper{
    grid-template-rows:80px 50px auto 50px;
    grid-template-columns:1fr;
    grid-template-areas: 
    "header"
    "form"
    "main"
    "nav";
}


header{
    grid-area: header;
    text-align: center;
    background-color: gray;
    padding: 15px;
    margin: 0;

}


nav{
    grid-area: nav;
    padding: 14px;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content:center ;
    justify-items: center;
    padding: 0%;
    margin: 0%;
}
nav li{
    list-style: none;
    text-align: center;
    font-size: 1em;
}

nav a{
    text-decoration: none;
    background-color: black;
    padding: 15px;
    color: white;
    border-radius: 10px;
}

li a:hover {
    background-color: orange;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .form {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  .info {
    background-color: #f8f8f8;
    padding: 20px;
    position: relative; 
  }
  
  .info ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .info li {
    margin-bottom: 10px;
  }
  
 
  @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 1fr;
    }
    
    .content {
      grid-template-columns: 1fr;
    }
    
    .form, .info {
      padding: 10px;
    }
    
    .image-container {
      top: -30px; 
    }
  }
  

@media screen and (max-width: 800px){

}
